<%= render "shared/header" %>
<% if current_user %>
  <%= render "shared/search", placeholder: "検索ワード" %>
  <%= render "shared/tabs" %>
<% end %>
<body class="bg-gray-100">
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 place-content-center p-10 mx-auto max-w-screen-xl">
    <% @videos.each do |video| %>
      <div class="shadow-md rounded bg-white w-full max-w-[290px] h-[340px] overflow-hidden mx-auto">
        <!-- 動画サイト -->
        <div class="flex">
          <%= image_tag "yt_icon_red_digital.png", alt: "Youtube", class: "w-8 h-8 -m-0.5" %>
          <% if video[:live_starttime].present? %>
            <p class="text m-1"><%= video[:live_starttime].strftime("%Y/%m/%d %H:%M") %></p>
          <% elsif video[:scheduled_starttime].present? %>
            <p class="text m-1"><%= video[:scheduled_starttime].strftime("%Y/%m/%d %H:%M") %></p>
          <% end %>
        </div>
        <%= link_to "https://www.youtube.com/watch?v=#{video[:video_id]}", class: "block  text-blue-600 visited:text-purple-600 hover:underline", target: "_blank", rel: "noopener noreferrer" do %>
          <!-- 動画サムネイル -->
            <div class="relative overflow-hidden rounded aspect-[16/9]">
              <img src="<%= video[:video_thumbnail] %>",
                    alt="<%= video[:title] %>",
                    class="absolute inset-0 w-full h-full object-cover"
              >
              <div class="absolute right-2 bg-black/80 text-white text-xs px-2 py-1 my-2 rounded pointer-events-none"
                   style="background-color: rgba(0,0,0,0.5);"
              >
                <%= format_duration(video[:archive_duration]) %>
              </div>
            </div>


          <!-- 動画タイトル -->
            <p class="px-2 text-sm font-medium line-clamp-2 break-words overflow-hidden"><%= video[:title] %></p>
        <% end %>
        <!-- チャンネル情報 -->
        <div class="p-2 text-sm flex items-center gap-2">
          <img src="<%= video[:channel_icon] %>" 
               alt="<%= video[:channel_title] %>" 
               class="w-10 h-10 rounded-full">
          <div class="flex-col">
            <%= link_to video[:channel_title], "https://www.youtube.com/channel/#{video[:channel_id]}",
                        target: "_blank",
                        rel: "noopener noreferrer",
                        class: "text-sm font-medium line-clamp-1 break-words overflow-hidden text-blue-600 visited:text-purple-600 hover:underline" %>
            <% if video[:live_viewers].present? %>
              <p class="text-sm text-gray-500"><%= number_with_delimiter(video[:live_viewers]) %>人 視聴中</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</body>
