<%= render "shared/header" %>
<body class="bg-gray-100">
  <div class="grid grid-cols-5 gap-4 m-5">
    <% @videos.each do |video| %>
      <div class="shadow-md rounded bg-white w-70 h-75 overflow-hidden">
        <%= image_tag "yt_icon_red_digital.png", alt: "Youtube", class: "w-8 h-8 -m-0.5" %>
        <div class="w-full aspect-[16/9] p-1">
          <img src="<%= video.snippet.thumbnails.high.url %>"
               alt="<%= video.snippet.title %>"
               class="w-full h-full rounded object-cover"
          >
        </div>
        <p class="p-2 text-sm font-medium"><%= video.snippet.title %></p>
      </div>
    <% end %>
  </div>
</body>
