<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">パスワード再設定</h2>

    <% if flash[:alert] %>
      <div class="bg-red-100 text-red-800 mb-4 px-4 py-2 rounded shadow-md">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= form_with scope: :password_reset, url: password_resets_path, local: true do |f| %>
      <div class="form-group">
        <%= f.label :email, "登録メールアドレス", class: "form-label" %>
        <%= f.email_field :email, class: "form-input" %>
      </div>

      <%= f.submit "再設定メールを送信する", class: "btn-primary" %>
    <% end %>

    <div class="auth-footer">
      <%= link_to "ログイン画面へ戻る", login_path, class: "text-blue-600 visited:text-purple-600 hover:underline" %>
    </div>
  </div>
</div>
