<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">パスワードの再設定</h2>

    <% if flash[:alert] %>
      <div class="bg-red-100 text-red-800 mb-4 px-4 py-2 rounded shadow-md">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= form_with url: login_path, local: true do |f| %>
      <div class="form-group">
        <%= f.label :email, "メールアドレス", class: "form-label" %>
        <%= f.email_field :email, class: "form-input" %>
      </div>

      <%= f.submit "送信する", class: "btn-primary" %>
    <% end %>
  </div>
</div>
