<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>

  <body>
    <%= yield %>

    <script>
      document.addEventListener("click", function (e) {
        if (!e.target.hasAttribute("data-clear-search")) return;

        const form = e.target.closest("form");
        if (!form) return;

        form.querySelectorAll("input[type='text']").forEach(input => {
          input.value = "";
        });

        form.submit();
      });
    </script>
  </body>
</html>
